{% extends 'base.html' %}
{% block content %}
<main>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if object.profile_picture %}
                    <img class="rounded-circle mt-5" width="150px" src="{{ object.profile_picture }}">
                {% else %}
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                {% endif %}
                <span class="font-weight-bold">
                    {% if object.first_name %}
                        {{ object.first_name }}
                    {% endif %}
                    {% if object.last_name %}
                        {{ object.last_name }}
                    {% endif %}
                </span>
                <span class="text-black-50">{{ object.user.email }}</span>

            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Details</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">First Name: {{ object.first_name }}</div>

                </div>
                <div class="mt-5 text-center">

                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'profile-edit' pk=request.user.pk %}" class="btn btn-primary" type="submit">Completed Orders</a>
                    <a href="{% url 'profile-edit' pk=request.user.pk %}" class="btn btn-primary" type="submit">Edit Profile</a>
                    <a href="{% url 'profile-delete' pk=request.user.pk %}" class="btn btn-danger" type="submit">Delete Profile</a>
                </div>


            </div>
        </div>
    </div>
</div>

</main>
{% endblock %}