{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if object.profile_picture %}
                    <img class="rounded-circle mt-5" width="150px" src="{{ object.profile_picture }}">
                {% else %}
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                {% endif %}
                <span class="font-weight-bold">
                    {% if object.first_name %}
                        {{ object.first_name }}
                    {% endif %}
                    {% if object.last_name %}
                        {{ object.last_name }}
                    {% endif %}
                </span>
                <span class="text-black-50">{{ object.user.email }}</span>

            </div>
        </div>

        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Edit</h4>
                </div>
                <form action="{% url 'profile-edit' pk=request.user.pk %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row mt-3">
                            <label class="labels">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="error text-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                     <div class="mt-5 text-center">
                        <button class="btn btn-primary" type="submit">Save</button>
                     </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
</div>
  
</main>
{% endblock %}