{% extends 'base.html' %}
{% block content %}
<main>



  <div class="container">
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark mt-3 shadow p-2" style="background-color: #607D8B">
    <!-- Container wrapper -->
    <div class="container-fluid">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Categories:</a>

      <!-- Toggle button -->
      <button
         class="navbar-toggler"
         type="button"
         data-mdb-toggle="collapse"
         data-mdb-target="#navbarSupportedContent2"
         aria-controls="navbarSupportedContent2"
         aria-expanded="false"
         aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Link -->
          <li class="nav-item acitve">
            <a class="nav-link text-white" href="#">All</a>
          </li>
          <li class="nav-item">
                <a class="nav-link text-white" href="#">Shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Sport wears</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Outwears</a>
              </li>

        </ul>

        <!-- Search -->
        <form class="w-auto py-1" style="max-width: 12rem">
          <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
        </form>

      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
    <section>
    <div class="container">
      <div class="row">

          {% for object in object_list %}
            <div class="col-lg-3 col-md-4 card-container">
              <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light product-list-img-wrapper"
                  data-mdb-ripple-color="light">
                  <img src="{{ object.image }}" class="img-fluid product-image" />

                  {% if user.is_authenticated %}
                    <a href="{% url 'item-details' pk=object.pk %}">
                        <div class="mask">
                        {% if object.label %}
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge {{ object.label_style }} ms-2">{{ object.label }}</span></h5>
                          </div>
                        {% endif %}
                      </div>
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </div>
                    </a>
                  {% else %}
                    <a href="{% url 'login' %}">
                      <div class="mask">
                        {% if object.label %}
                          <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge {{ object.label_style }} ms-2">{{ object.label }}</span></h5>
                          </div>
                        {% endif %}
                      </div>
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </div>
                    </a>
                  {% endif %}
                </div>


                <div class="card-body">

                  {% if user.is_authenticated %}
                    <a href="{% url 'item-details' pk=object.pk %}" class="text-reset">
                      <h5 class="card-title mb-2">{{ object.name }}</h5>
                    </a>
                    <a href="{% url 'item-details' pk=object.pk %}" class="text-reset ">
                      <p>{{ object.type }}</p>
                    </a>
                  {% else %}
                    <a href="{% url 'login' %}" class="text-reset">
                      <h5 class="card-title mb-2">{{ object.name }}</h5>
                    </a>
                    <a href="{% url 'login' %}" class="text-reset ">
                      <p>{{ object.type }}</p>
                    </a>
                  {% endif %}


                  <h6 class="mb-3 price">{{ object.new_price }}$</h6>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
  </section>

  <!-- Pagination -->
    {% if is_paginated %}
      <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
      <ul class="pagination">

        {% if page_obj.has_previous %}
           <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&Lang;</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&lang;</span>
            </a>
          </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&rang;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
              <span aria-hidden="true">&Rang;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

  </div>





</main>
{% endblock %}