{% extends 'base.html' %}
{% block content %}
<main>

    <form class="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-outline" data-mdb-input-init>
            {{ form.email.errors }}
            {{ form.email }}
            <label class="form-label" for="{{ form.username.id_for_label }}">Email:</label>
        </div>
        <div class="form-outline" data-mdb-input-init>
            {{ form.password.errors }}
            {{ form.password }}
            <label class="form-label" for="{{ form.password.id_for_label }}">Password:</label>
        </div>
        <button type="submit" class="btn btn-info btn-block mb-4">Sign in</button>

        <div class="text-center">
            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>



</main>
{% endblock %}