{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <h2 class="my-5 text-center">Order Summary</h2>
        <div class="row">
            <div class="col-md-8 mb-4">
                <div class="card p-4">
                    <div class="container py-5">
                        {% for order in object_list %}
                            {% for item in order.items.all %}
                                {% if not item.ordered %}
                                <div class="row justify-content-center mb-3">
                                  <div class="col-md-12 col-xl-10">
                                    <div class="card shadow-0 border rounded-3">
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                            <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                                <img class="w-100" alt="image of {{ item.item.name }} " src="{{ item.item.image }}" />
                                                <div class="hover-overlay">
                                                  <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                                </div>
                                              </a>
                                            </div>
                                          </div>
                                          <div class="col-md-6 col-lg-6 col-xl-6">
                                            <h5>{{ item.item }}</h5>
                                            <div class="mt-1 mb-0 text-muted small">
                                              <span>{{ item.item.type }} item</span>
                                            </div>
                                            <p class="text-truncate mb-4 mb-md-0">
                                              {{ item.item.description }}
                                            </p>
                                          </div>
                                          <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                            <div class="d-flex flex-row align-items-center mb-1">
                                              <h4 class="mb-1 me-1">{{ item.item.new_price|floatformat:2 }}€</h4>
                                            </div>
                                            <div class="d-flex flex-column mt-4">
                                              <a href="{% url 'item-details' pk=item.item.pk %}" class="btn btn-primary btn-sm">Details</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% if not request.user.profile.first_name or not request.user.profile.last_name %}
                            <div class="d-flex flex-column mt-4">
                              <a href="{% url 'profile-edit' pk=request.user.pk %}" class="btn btn-primary btn-sm">Enter profile details</a>
                            </div>
                        {% else %}
                            <div class="d-flex flex-column mt-4">
                              <a href="{% url 'order_checkout' %}" class="btn btn-primary btn-sm">Checkout</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge rounded-pill badge-primary">{{ orders.count }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in orders.all %}
                        {% if not item.ordered %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <h6 class="my-0">{{ item.item.name }}</h6>
                                </div>
                                <div class="d-flex text-muted">
                                    <div class="pe-2">{{ item.quantity }} x {{ item.item.new_price|floatformat:2 }}€:</div>
                                    <div>{{ item.total_item_order_amount|floatformat:2 }}€</div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD): </span>
                        <strong>{{ total_cart_amount|floatformat:2 }}€</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}