{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <div class="container">
        <h2 class="my-5 text-center">Checkout form</h2>
        <div class="card p-4">
            <div class="row mb-3">
                <p>Payment Info</p>
                <div class="my-3">
                    <form id="checkoutForm" action="{% url 'create_checkout_session' %}" method="get">
                        {% csrf_token %}
                        <button class="button is-primary" type="submit" id="submitBtn">Finish Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("checkoutForm").addEventListener("submit", function(event) {
            event.preventDefault();
        });
    </script>
</main>

{% endblock %}