{% extends 'base.html' %}
{% block content %}
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.image }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">

                    <strong><p style="font-size: 20px;">{{ object.name }}</p></strong>
                    <div class="mb-3">
                        <a href="{% url 'index' %}?item_type={{ object.type }}">
                            <span class="badge bg-dark me-1">{{ object.type }}</span>
                        </a>
                    </div>

                    <p class="lead">
                        {% if object.old_price %}
                            <span class="me-1">
                                <del>${{ object.old_price }}</del>
                            </span>
                        {% endif %}
                        <span>${{ object.new_price }}</span>
                    </p>

                    <strong>{{ object.description }}</strong>

                    <p></p>

                        <a href="{% url 'add-to-cart' pk=object.pk %}" class="btn btn-primary ms-1" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </a>

                        <a href="{% url 'remove-from-cart' pk=object.pk %}" class="btn btn-danger ms-1" type="submit">
                            Remove from cart
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </a>

                    {% if messages %}
                        <ul class="messages list-unstyled">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
        </div>
        <hr />
        {% if request.user.is_superuser %}
            <div class="mt-5 text-center">
                <a href="{% url 'item-edit' pk=object.pk %}" class="btn btn-primary" type="submit">Edit Item</a>
                <a href="{% url 'item-delete' pk=object.pk %}" class="btn btn-danger" type="submit">Delete Item</a>
            </div>
        {% endif %}


    </div>
</main>
{% endblock %}